<%= form_for resource, as: resource_name, url: session_path(resource_name), html: {class: "border-2 inline-block px-3"} do |f| %>
  <h1>登入</h1>
  <div class="field">
    <%= f.label '電子信箱' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label '密碼' %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label '記住我' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "登入", class: "btn btn-success" %>
  </div>
  <%= render "devise/shared/links" %>
<% end %>

