<h1>商品瀏覽頁面</h1>

<%= link_to "新增商品",new_product_path %>


    
<%= form_for (@product) do |f| %>


  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :price %>
  <%= f.text_field :price %><br />

  <%= f.label :quantity %>
  <%= f.text_field :quantity %><br />

  <%= f.label :describtion %>
  <%= f.text_field :describtion %><br />

  <%= f.label :category %>
  <%= f.text_field :category %><br />

  <%= f.label :material %>
  <%= f.text_field :material %><br />

  <%= f.label :manufacturing_method %>
  <%= f.text_field :manufacturing_method %><br />

  <%= f.label :country %>
  <%= f.text_field :country %><br />

  <%= f.label :content %>
  <%= f.text_field :content %><br />

  <%= f.submit "送出" %>


<% end%>
<%= link_to '回首頁', products_path %>


