<!-- <h1 class="border">Products#index</h1>
<p>Find me in app/views/products/index.html.erb</p> -->
<h1>新增商品</h1>

<%= form_for(@product) do |product| %>

<%= product.label :name, "商品名稱" %>
<%= product.text_field :name %><br />

<%= product.label :price, "商品價錢" %>
<%= product.text_field :price %><br />

<%= product.label :quantity, "商品數量" %>
<%= product.text_field :quantity %><br />

<%= product.label :describtion, "商品描述" %>
<%= product.text_field :describtion %><br />

<%= product.label :category, "商品類別" %>
<%= product.text_field :category %><br />

<%= product.label :material, "商品材料" %>
<%= product.text_field :material %><br />

<%= product.label :manufacturing_method, "製造方法" %>
<%= product.text_field :manufacturing_method %><br />

<%= product.label :country, "國家" %>
<%= product.text_field :country %><br />

<%= product.label :content, "內容" %>
<%= product.text_field :content %><br />

<%= product.submit %><br />

<% end %>

<%=link_to "返回商品列表",products_path %>






